@page
@model GameLibrary.Pages.Platforms.DeleteModel

@{
    ViewData["Title"] = SharedLocalizer["DeletePlatformPageTitle"];
}

<h1>@SharedLocalizer["DeletePlatformPageTitle"]</h1>

<h3>@SharedLocalizer["DeletePlatformPageSubtitle"]</h3>
<div>
    <h4>@SharedLocalizer["Platform"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform.Manufacturer)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Platform.ID" />
        <input type="submit" value=@SharedLocalizer["DeleteButton"] class="btn btn-danger" /> |
        <a asp-page="./Index">@SharedLocalizer["BackToList"]</a>
    </form>
</div>
