@page
@model GameLibrary.Pages.Platforms.DetailsModel

@{
    ViewData["Title"] = SharedLocalizer["DetailsPlatformPageTitle"];
}

<h1>@SharedLocalizer["DetailsPlatformPageTitle"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Games"]
        </dt>
        <dd class="col-sm-10">
            @foreach (var platformLink in Model.Platform.GamePlatforms)
            {
                <span>@platformLink.Game.Title</span> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Platform.ID">@SharedLocalizer["Edit"]</a> |
    <a asp-page="./Index">@SharedLocalizer["BackToList"]</a>
</div>
