@page
@model GameLibrary.Pages.Studios.DetailsModel

@{
    ViewData["Title"] = SharedLocalizer["DetailsStudioPageTitle"];
}

<h1>@SharedLocalizer["DetailsStudioPageTitle"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Studio.ID">@SharedLocalizer["Edit"]</a> |
    <a asp-page="./Index">@SharedLocalizer["BackToList"]</a>
</div>
