@page
@model GameLibrary.Pages.Games.DeleteModel

@{
    ViewData["Title"] = SharedLocalizer["DeleteGamePageTitle"];
}

<h1 data-testid="delete-game-title">@SharedLocalizer["DeleteGamePageTitle"]</h1>

<h3 data-testid="delete-game-subtitle">@SharedLocalizer["DeleteGamePageSubtitle"]</h3>
<div>
    <hr />
    <dl class="row" data-testid="game-details-container">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Game.Title)
        </dt>
        <dd class="col-sm-10" data-testid="game-title-value">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Game.Price)
        </dt>
        <dd class="col-sm-10" data-testid="game-price-value">
            @Model.Game.Price.ToCurrency()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Game.Studio.Name)
        </dt>
        <dd class="col-sm-10" data-testid="game-studio-value">
            @Html.DisplayFor(model => model.Game.Studio.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Game.ID" />
        <input type="submit" value=@SharedLocalizer["DeleteButton"] class="btn btn-danger" data-testid="confirm-delete-btn"/> |
        <a asp-page="./Index" data-testid="back-to-list-link">@SharedLocalizer["BackToList"]</a>
    </form>
</div>
