@page
@model GameLibrary.Pages.Games.IndexModel

@{
    ViewData["Title"] = @SharedLocalizer["Games"];
}

<h1>@SharedLocalizer["Games"]</h1>

<p>
    <a asp-page="Create">@SharedLocalizer["GameCreatePageTitle"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GamePlatforms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Price.ToCurrency()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Name)
            </td>
            <td>
                @foreach (var gg in item.GameGenres)
                {
                        @gg.Genre.Name <br />
                }
            </td>
            <td>
                @foreach (var gp in item.GamePlatforms)
                {
                        @gp.Platform.Name <br />
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">@SharedLocalizer["Edit"]</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">@SharedLocalizer["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">@SharedLocalizer["DeleteButton"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
