@page
@model GameLibrary.Pages.Genres.IndexModel

@{
    ViewData["Title"] = SharedLocalizer["Genres"];
}

<h1>@SharedLocalizer["Genres"]</h1>

<p>
    <a asp-page="Create">@SharedLocalizer["GenreCreatePageTitle"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.Genre[0].GameGenres)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var gameGenre in item.GameGenres)
                {
                        @gameGenre.Game.Title <br />
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">@SharedLocalizer["Edit"]</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">@SharedLocalizer["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">@SharedLocalizer["DeleteButton"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
